Repository AY1920S1-CS2103T-F13-2/main, pull requests merged in 2019-11, with the labels that each got.

#283 Updating FoodCard
  docs/UserGuide.adoc
  src/main/java/seedu/savenus/logic/commands/CollapseCommand.java
  src/main/java/seedu/savenus/logic/commands/ExpandCommand.java
  src/main/java/seedu/savenus/logic/commands/InfoCommand.java
  src/main/java/seedu/savenus/logic/parser/SaveNusParser.java
  src/main/java/seedu/savenus/model/alias/CommandWordAdder.java
  src/main/java/seedu/savenus/model/info/CollapseInfo.java
  src/main/java/seedu/savenus/model/info/ExpandInfo.java
  src/main/java/seedu/savenus/model/info/RecommendInfo.java
  src/main/java/seedu/savenus/ui/FoodCard.java
  src/main/java/seedu/savenus/ui/HelpWindow.java
  src/main/java/seedu/savenus/ui/InfoWindow.java
  src/main/java/seedu/savenus/ui/MainWindow.java
  src/main/resources/images/LightTheme.png
  src/main/resources/images/information.png
  src/main/resources/images/savenus_logo.png
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/FoodListCard.fxml
  src/main/resources/view/LightTheme.css
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/PurchaseListCard.fxml
  src/main/resources/view/SavingsCard.fxml
  src/test/data/JsonAliasListStorageTest/invalidAliasList.json
  src/test/data/JsonSerializableAliasListTest/invalidAliasList.json
  src/test/data/JsonSerializableAliasListTest/missingAliasList.json
  src/test/data/JsonSerializableAliasListTest/properAliasList.json
  src/test/java/seedu/savenus/logic/commands/CollapseCommandTest.java
  src/test/java/seedu/savenus/logic/commands/ExpandCommandTest.java
  src/test/java/seedu/savenus/logic/parser/SaveNusParserTest.java
Labels: command.Collapse, command.Expand, update.UI

#286 [v1.4] Very minor UI changes
  src/main/resources/view/HelpWindow.fxml
  src/main/resources/view/InfoWindow.fxml
  src/main/resources/view/LightTheme.css
Labels: update.UI

#299 Update InfoCommand with Show and Withdraw details
  src/main/java/seedu/savenus/logic/commands/InfoCommand.java
  src/main/java/seedu/savenus/model/info/ShowInfo.java
  src/main/java/seedu/savenus/model/info/WithdrawInfo.java
  src/main/java/seedu/savenus/ui/HelpWindow.java
  src/main/java/seedu/savenus/ui/InfoWindow.java
  src/main/java/seedu/savenus/ui/MainWindow.java
Labels: command.Info

#302 Edit Help and Info Window for Alias
  src/main/java/seedu/savenus/logic/commands/InfoCommand.java
  src/main/java/seedu/savenus/model/info/AliasInfo.java
  src/main/java/seedu/savenus/ui/HelpWindow.java
  src/main/java/seedu/savenus/ui/InfoWindow.java
Labels: command.Help, command.Info

#312 Add Food Component to DG
  docs/DeveloperGuide.adoc
Labels: update.DeveloperGuide

#307 [v1.4] Changed the UI
  docs/UserGuide.adoc
  docs/images/InfoEditUI.png
  docs/images/LightMode.png
  docs/images/ScalingSetting.png
  docs/images/Ui.png
  docs/team/robytanama.adoc
  src/main/java/seedu/savenus/logic/commands/InfoCommand.java
  src/main/java/seedu/savenus/model/food/Tag.java
  src/main/java/seedu/savenus/model/info/AddInfo.java
  src/main/java/seedu/savenus/model/info/AutoSortInfo.java
  src/main/java/seedu/savenus/model/info/BudgetInfo.java
  src/main/java/seedu/savenus/model/info/BuyInfo.java
  src/main/java/seedu/savenus/model/info/ClearInfo.java
  src/main/java/seedu/savenus/model/info/CustomSortInfo.java
  src/main/java/seedu/savenus/model/info/DefaultInfo.java
  src/main/java/seedu/savenus/model/info/DeleteInfo.java
  src/main/java/seedu/savenus/model/info/DislikeInfo.java
  src/main/java/seedu/savenus/model/info/EditInfo.java
  src/main/java/seedu/savenus/model/info/ExitInfo.java
  src/main/java/seedu/savenus/model/info/FilterInfo.java
  src/main/java/seedu/savenus/model/info/FindInfo.java
  src/main/java/seedu/savenus/model/info/HelpInfo.java
  src/main/java/seedu/savenus/model/info/HistoryInfo.java
  src/main/java/seedu/savenus/model/info/InfoInfo.java
  src/main/java/seedu/savenus/model/info/LikeInfo.java
  src/main/java/seedu/savenus/model/info/ListInfo.java
  src/main/java/seedu/savenus/model/info/MakeSortInfo.java
  src/main/java/seedu/savenus/model/info/RecommendInfo.java
  src/main/java/seedu/savenus/model/info/RemoveDislikeInfo.java
  src/main/java/seedu/savenus/model/info/RemoveLikeInfo.java
  src/main/java/seedu/savenus/model/info/SaveInfo.java
  src/main/java/seedu/savenus/model/info/SortInfo.java
  src/main/java/seedu/savenus/model/info/TopUpInfo.java
  src/main/java/seedu/savenus/ui/FoodCard.java
  src/main/java/seedu/savenus/ui/HelpWindow.java
  src/main/java/seedu/savenus/ui/InfoWindow.java
  src/main/java/seedu/savenus/ui/MainWindow.java
  src/main/java/seedu/savenus/ui/SavingsCard.java
  src/main/resources/images/CustomSort.png
  src/main/resources/images/Default.png
  src/main/resources/images/Help.png
  src/main/resources/images/History.png
  src/main/resources/images/List.png
  src/main/resources/images/Quit.png
  src/main/resources/images/Recommend.png
  src/main/resources/images/Theme.png
  src/main/resources/images/ThemeLight.png
  src/main/resources/images/ViewSort.png
  src/main/resources/images/Wallet.png
  src/main/resources/images/help_icon.png
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/LightTheme.css
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/PurchaseListCard.fxml
  src/main/resources/view/SavingsCard.fxml
Labels: update.UI

#315 [v1.4] Add theme command
  docs/UserGuide.adoc
  src/main/java/seedu/savenus/logic/commands/InfoCommand.java
  src/main/java/seedu/savenus/logic/commands/ThemeCommand.java
  src/main/java/seedu/savenus/logic/parser/SaveNusParser.java
  src/main/java/seedu/savenus/logic/parser/ThemeCommandParser.java
  src/main/java/seedu/savenus/model/info/AliasInfo.java
  src/main/java/seedu/savenus/model/info/AutoSortInfo.java
  src/main/java/seedu/savenus/model/info/ShowInfo.java
  src/main/java/seedu/savenus/model/info/ThemeInfo.java
  src/main/java/seedu/savenus/model/info/WithdrawInfo.java
  src/main/java/seedu/savenus/ui/InfoWindow.java
  src/main/java/seedu/savenus/ui/MainWindow.java
  src/main/resources/view/InfoWindow.fxml
  src/test/java/seedu/savenus/logic/commands/InfoCommandTest.java
  src/test/java/seedu/savenus/logic/commands/ThemeCommandTest.java
  src/test/java/seedu/savenus/logic/parser/ThemeCommandParserTest.java
Labels: command.Theme

#317 [v1.4] Fix Tooltip bug
  src/main/java/seedu/savenus/model/util/FixedToolTip.java
  src/main/java/seedu/savenus/ui/MainWindow.java
Labels: update.UI

#318 More UG Updates
  docs/UserGuide.adoc
  docs/images/addsuccess.png
  docs/images/clearsuccess.png
  docs/images/customsortsuccess.png
  docs/images/defaultsuccess.png
  docs/images/deletesuccess.png
  docs/images/editsuccess.png
  docs/images/filtersuccess.png
  docs/images/findsuccess.png
  docs/images/listsuccess.png
  docs/images/sortsuccess.png
Labels: update.UserGuide

#319 Fix Diagram Typo
  docs/diagrams/SortingClassDiagram.puml
  docs/images/SortingClassDiagram.png
Labels: update.DeveloperGuide

#320 Update Savings Feature in Developer Guide
  docs/DeveloperGuide.adoc
  docs/diagrams/SavingsAccountClassDiagram.puml
  docs/diagrams/SavingsHistoryClassDiagram.puml
  docs/images/SavingsAccountClassDiagram.png
  docs/images/SavingsHistoryClassDiagram.png
  src/main/java/seedu/savenus/logic/commands/SaveCommand.java
  src/main/java/seedu/savenus/model/ModelManager.java
  src/main/java/seedu/savenus/model/savings/Savings.java
Labels: update.DeveloperGuide

#323 [v1.4] Update DG for Info feature
  docs/DeveloperGuide.adoc
  docs/diagrams/InfoActivityDiagram.puml
  docs/diagrams/InfoSequenceDiagram.puml
  docs/images/InfoActivityDiagram.png
  docs/images/InfoClassDiagram.png
  docs/images/InfoSequenceDiagram.png
  docs/team/robytanama.adoc
Labels: update.DeveloperGuide

#327 Minor edits to DG
  docs/UserGuide.adoc
  docs/images/recommend.png
Labels: update.DeveloperGuide

#330 Add Use and Test Cases
  docs/DeveloperGuide.adoc
Labels: update.DeveloperGuide

#328 Minor UG Updates
  docs/UserGuide.adoc
Labels: update.UserGuide

#326 Update the Developer Guide
  docs/DeveloperGuide.adoc
  docs/diagrams/SaveActivityDiagram.puml
  docs/diagrams/SaveSequenceDiagram.puml
  docs/diagrams/style.puml
  docs/images/SaveActivityDiagram.png
  docs/images/SaveSequenceDiagram.png
Labels: update.DeveloperGuide

#333 [v1.4] Add Theme feature into DG
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/ThemeActivityDiagram.puml
  docs/diagrams/ThemeSequenceDiagram.puml
  docs/images/ThemeActivityDiagram.png
  docs/images/ThemeSequenceDiagram.png
  docs/team/robytanama.adoc
  src/main/java/seedu/savenus/model/alias/CommandWordAdder.java
  src/main/java/seedu/savenus/model/info/ViewSortInfo.java
  src/main/java/seedu/savenus/ui/HelpWindow.java
  src/test/data/JsonSerializableAliasListTest/properAliasList.json
Labels: update.DeveloperGuide, update.UserGuide

#346 Align Images to the Center for Developer Guide
  docs/DeveloperGuide.adoc
  docs/Testing.adoc
Labels: update.DeveloperGuide

#355 [v1.4] Fix viewsort info bug
  src/main/java/seedu/savenus/ui/MainWindow.java
Labels: command.Info
