Repository AY1920S1-CS2103T-F13-2/main, pull requests merged in 2019-10, with the labels that each got.

#190 Edit SaveInfo
  src/main/java/seedu/savenus/model/info/SaveInfo.java
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/LightTheme.css
  src/main/resources/view/MainWindow.fxml
Labels: command.Info

#198 Update developer guide
  docs/DeveloperGuide.adoc
Labels: update.DeveloperGuide

#209 [v1.3] Add new info cards and update old ones
  src/main/java/seedu/savenus/logic/commands/InfoCommand.java
  src/main/java/seedu/savenus/model/info/AutoSortInfo.java
  src/main/java/seedu/savenus/model/info/CollapseInfo.java
  src/main/java/seedu/savenus/model/info/CustomSortInfo.java
  src/main/java/seedu/savenus/model/info/DislikeInfo.java
  src/main/java/seedu/savenus/model/info/ExpandInfo.java
  src/main/java/seedu/savenus/model/info/FilterInfo.java
  src/main/java/seedu/savenus/model/info/HistoryInfo.java
  src/main/java/seedu/savenus/model/info/LikeInfo.java
  src/main/java/seedu/savenus/model/info/MakeSortInfo.java
  src/main/java/seedu/savenus/model/info/RemoveDislikeInfo.java
  src/main/java/seedu/savenus/model/info/RemoveLikeInfo.java
  src/main/java/seedu/savenus/model/info/SaveInfo.java
  src/main/java/seedu/savenus/model/info/TopUpInfo.java
  src/main/java/seedu/savenus/ui/InfoWindow.java
  src/main/java/seedu/savenus/ui/MainWindow.java
Labels: command.Info

#217 Update Developer Guide and User Guide Diagrams
  README.adoc
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/DarkMode.png
  docs/images/LightMode.png
  docs/images/Ui.png
Labels: update.DeveloperGuide

#226 Add viewsort for UserGuide
  docs/UserGuide.adoc
Labels: update.UserGuide

#229 [v1.3] Draft for Roby Tanama PPP
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/team/roby-tanama.adoc
Labels: update.DeveloperGuide, update.UserGuide
